In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_excel('Data_Train.xlsx')
train.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [3]:
train.shape

(6237, 9)

In [4]:
test = pd.read_excel('Data_Test.xlsx')
test.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory
0,The Complete Sherlock Holmes: 2 Boxes sets,Sir Arthur Conan Doyle,"Mass Market Paperback,– 1 Oct 1986",4.4 out of 5 stars,960 customer reviews,A collection of entire body of work of the She...,Short Stories (Books),"Crime, Thriller & Mystery"
1,Learn Docker - Fundamentals of Docker 18.x: Ev...,Gabriel N. Schenker,"Paperback,– Import, 26 Apr 2018",5.0 out of 5 stars,1 customer review,Enhance your software deployment workflow usin...,Operating Systems Textbooks,"Computing, Internet & Digital Media"
2,Big Girl,Danielle Steel,"Paperback,– 17 Mar 2011",5.0 out of 5 stars,4 customer reviews,"'Watch out, world. Here I come!'\nFor Victoria...",Romance (Books),Romance
3,Think Python: How to Think Like a Computer Sci...,Allen B. Downey,"Paperback,– 2016",4.1 out of 5 stars,11 customer reviews,"If you want to learn how to program, working w...",Programming & Software Development (Books),"Computing, Internet & Digital Media"
4,Oxford Word Skills: Advanced - Idioms & Phrasa...,Redman Gairns,"Paperback,– 26 Dec 2011",4.4 out of 5 stars,9 customer reviews,"Learn and practise the verbs, prepositions and...",Linguistics (Books),"Language, Linguistics & Writing"

In [5]:
test.shape

(1560, 8)

In [6]:
train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Synopsis        0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [8]:
train['Title'] = le.fit_transform(train['Title'])
train['Author'] = le.fit_transform(train['Author'])
train['Genre'] = le.fit_transform(train['Genre'])
train['BookCategory'] = le.fit_transform(train['BookCategory'])

In [9]:
train = train.drop('Edition', axis = 1)

In [10]:
train['Reviews'].unique()

array(['4.0 out of 5 stars', '3.9 out of 5 stars', '4.8 out of 5 stars',
       '4.1 out of 5 stars', '5.0 out of 5 stars', '4.5 out of 5 stars',
       '4.4 out of 5 stars', '4.7 out of 5 stars', '4.2 out of 5 stars',
       '4.9 out of 5 stars', '3.5 out of 5 stars', '3.8 out of 5 stars',
       '4.3 out of 5 stars', '3.1 out of 5 stars', '4.6 out of 5 stars',
       '2.0 out of 5 stars', '3.7 out of 5 stars', '3.2 out of 5 stars',
       '2.6 out of 5 stars', '2.8 out of 5 stars', '3.4 out of 5 stars',
       '2.9 out of 5 stars', '3.3 out of 5 stars', '3.0 out of 5 stars',
       '2.5 out of 5 stars', '1.0 out of 5 stars', '3.6 out of 5 stars',
       '2.7 out of 5 stars', '1.5 out of 5 stars', '2.3 out of 5 stars',
       '1.7 out of 5 stars', '2.2 out of 5 stars', '1.4 out of 5 stars',
       '2.4 out of 5 stars', '1.6 out of 5 stars', '2.1 out of 5 stars'],
      dtype=object)

In [11]:
train['Reviews'] = train['Reviews'].apply(lambda x:x.split(' ')[0])

In [12]:
train['Ratings'].unique()

array(['8 customer reviews', '14 customer reviews', '6 customer reviews',
       '13 customer reviews', '1 customer review', '72 customer reviews',
       '16 customer reviews', '111 customer reviews',
       '132 customer reviews', '17 customer reviews',
       '4 customer reviews', '3 customer reviews', '5 customer reviews',
       '2 customer reviews', '23 customer reviews', '76 customer reviews',
       '10 customer reviews', '9 customer reviews', '15 customer reviews',
       '34 customer reviews', '32 customer reviews',
       '49 customer reviews', '62 customer reviews',
       '61 customer reviews', '7 customer reviews', '18 customer reviews',
       '98 customer reviews', '12 customer reviews',
       '97 customer reviews', '285 customer reviews',
       '29 customer reviews', '27 customer reviews',
       '267 customer reviews', '24 customer reviews',
       '146 customer reviews', '95 customer reviews',
       '234 customer reviews', '35 customer reviews',
       '66 customer reviews', '20 customer reviews',
       '39 customer reviews', '171 customer reviews',
       '399 customer reviews', '42 customer reviews',
       '142 customer reviews', '11 customer reviews',
       '839 customer reviews', '47 customer reviews',
       '165 customer reviews', '30 customer reviews',
       '53 customer reviews', '77 customer reviews',
       '33 customer reviews', '37 customer reviews',
       '54 customer reviews', '28 customer reviews',
       '50 customer reviews', '197 customer reviews',
       '26 customer reviews', '114 customer reviews',
       '46 customer reviews', '51 customer reviews',
       '161 customer reviews', '135 customer reviews',
       '41 customer reviews', '156 customer reviews',
       '1,416 customer reviews', '93 customer reviews',
       '221 customer reviews', '36 customer reviews',
       '154 customer reviews', '74 customer reviews',
       '45 customer reviews', '240 customer reviews',
       '55 customer reviews', '19 customer reviews',
       '48 customer reviews', '404 customer reviews',
       '245 customer reviews', '22 customer reviews',
       '292 customer reviews', '25 customer reviews',
       '75 customer reviews', '381 customer reviews',
       '44 customer reviews', '443 customer reviews',
       '425 customer reviews', '21 customer reviews',
       '238 customer reviews', '84 customer reviews',
       '68 customer reviews', '108 customer reviews',
       '52 customer reviews', '57 customer reviews',
       '109 customer reviews', '89 customer reviews',
       '304 customer reviews', '96 customer reviews',
       '419 customer reviews', '205 customer reviews',
       '85 customer reviews', '960 customer reviews',
       '71 customer reviews', '167 customer reviews',
       '58 customer reviews', '40 customer reviews',
       '102 customer reviews', '101 customer reviews',
       '65 customer reviews', '70 customer reviews',
       '106 customer reviews', '922 customer reviews',
       '31 customer reviews', '38 customer reviews',
       '63 customer reviews', '177 customer reviews',
       '138 customer reviews', '164 customer reviews',
       '257 customer reviews', '207 customer reviews',
       '64 customer reviews', '56 customer reviews',
       '196 customer reviews', '82 customer reviews',
       '1,558 customer reviews', '567 customer reviews',
       '60 customer reviews', '80 customer reviews',
       '303 customer reviews', '73 customer reviews',
       '193 customer reviews', '155 customer reviews',
       '798 customer reviews', '128 customer reviews',
       '87 customer reviews', '90 customer reviews',
       '286 customer reviews', '565 customer reviews',
       '137 customer reviews', '99 customer reviews',
       '403 customer reviews', '277 customer reviews',
       '902 customer reviews', '59 customer reviews',
       '861 customer reviews', '67 customer reviews',
       '815 customer reviews', '227 customer reviews',
       '119 customer reviews', '474 customer reviews',
       '69 customer reviews', '247 customer reviews',
       '414 customer reviews', '86 customer reviews',
       '432 customer reviews', '1,142 customer reviews',
       '168 customer reviews', '382 customer reviews',
       '79 customer reviews', '141 customer reviews',
       '220 customer reviews', '732 customer reviews',
       '2,048 customer reviews', '1,097 customer reviews',
       '226 customer reviews', '649 customer reviews',
       '160 customer reviews', '140 customer reviews',
       '2,081 customer reviews', '405 customer reviews',
       '121 customer reviews', '88 customer reviews',
       '342 customer reviews', '190 customer reviews',
       '83 customer reviews', '250 customer reviews',
       '217 customer reviews', '115 customer reviews',
       '224 customer reviews', '43 customer reviews',
       '136 customer reviews', '230 customer reviews',
       '283 customer reviews', '184 customer reviews',
       '186 customer reviews', '110 customer reviews',
       '187 customer reviews', '81 customer reviews',
       '107 customer reviews', '355 customer reviews',
       '2,084 customer reviews', '116 customer reviews',
       '862 customer reviews', '370 customer reviews',
       '92 customer reviews', '6,090 customer reviews',
       '215 customer reviews', '893 customer reviews',
       '261 customer reviews', '129 customer reviews',
       '113 customer reviews', '206 customer reviews',
       '159 customer reviews', '540 customer reviews',
       '413 customer reviews', '307 customer reviews',
       '351 customer reviews', '390 customer reviews',
       '143 customer reviews', '185 customer reviews',
       '282 customer reviews', '150 customer reviews',
       '120 customer reviews', '246 customer reviews',
       '126 customer reviews', '784 customer reviews',
       '174 customer reviews', '397 customer reviews',
       '172 customer reviews', '158 customer reviews',
       '863 customer reviews', '291 customer reviews',
       '225 customer reviews', '1,227 customer reviews',
       '366 customer reviews', '218 customer reviews',
       '100 customer reviews', '337 customer reviews',
       '973 customer reviews', '310 customer reviews',
       '301 customer reviews', '212 customer reviews',
       '764 customer reviews', '279 customer reviews',
       '255 customer reviews', '251 customer reviews',
       '653 customer reviews', '894 customer reviews',
       '3,135 customer reviews', '958 customer reviews',
       '134 customer reviews', '127 customer reviews',
       '420 customer reviews', '139 customer reviews',
       '800 customer reviews', '94 customer reviews',
       '178 customer reviews', '145 customer reviews',
       '967 customer reviews', '1,392 customer reviews',
       '264 customer reviews', '122 customer reviews',
       '219 customer reviews', '505 customer reviews',
       '125 customer reviews', '407 customer reviews',
       '210 customer reviews', '133 customer reviews',
       '151 customer reviews', '188 customer reviews',
       '166 customer reviews', '656 customer reviews',
       '175 customer reviews', '153 customer reviews',
       '1,684 customer reviews', '149 customer reviews',
       '163 customer reviews', '199 customer reviews',
       '157 customer reviews', '203 customer reviews',
       '331 customer reviews', '970 customer reviews',
       '305 customer reviews', '327 customer reviews',
       '1,403 customer reviews', '180 customer reviews',
       '268 customer reviews', '104 customer reviews',
       '123 customer reviews', '290 customer reviews',
       '396 customer reviews', '287 customer reviews',
       '244 customer reviews', '670 customer reviews',
       '223 customer reviews', '117 customer reviews',
       '867 customer reviews', '91 customer reviews',
       '105 customer reviews', '332 customer reviews',
       '152 customer reviews', '379 customer reviews',
       '278 customer reviews', '144 customer reviews',
       '606 customer reviews', '1,248 customer reviews',
       '112 customer reviews', '295 customer reviews',
       '450 customer reviews', '298 customer reviews',
       '899 customer reviews', '570 customer reviews',
       '871 customer reviews', '356 customer reviews',
       '249 customer reviews', '179 customer reviews',
       '545 customer reviews', '494 customer reviews',
       '358 customer reviews', '853 customer reviews',
       '280 customer reviews', '118 customer reviews',
       '1,563 customer reviews', '1,259 customer reviews',
       '200 customer reviews', '2,255 customer reviews',
       '727 customer reviews', '568 customer reviews',
       '429 customer reviews', '296 customer reviews',
       '124 customer reviews', '252 customer reviews',
       '78 customer reviews', '695 customer reviews',
       '3,075 customer reviews', '434 customer reviews',
       '353 customer reviews', '328 customer reviews',
       '170 customer reviews', '1,256 customer reviews',
       '162 customer reviews', '270 customer reviews',
       '297 customer reviews', '615 customer reviews',
       '421 customer reviews', '253 customer reviews',
       '325 customer reviews', '308 customer reviews',
       '804 customer reviews', '551 customer reviews',
       '288 customer reviews', '483 customer reviews'], dtype=object)

In [13]:
train['Ratings'] = train['Ratings'].apply(lambda x:x.split(' ')[0])

In [14]:
train[train['Ratings'] == 1416]

Empty DataFrame
Columns: [Title, Author, Reviews, Ratings, Synopsis, Genre, BookCategory, Price]
Index: []

In [15]:
train['Ratings'] = train['Ratings'].apply(lambda x: eval(''.join(x.split(','))))

In [16]:
train['Ratings'] = train['Ratings'].astype(float)
train['Reviews'] = train['Reviews'].astype(float)

In [17]:
train['Reviews_Ratings'] = train['Reviews']*train['Ratings']

In [18]:
train.head()

,Title,Author,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Reviews_Ratings
0,4763,615,4.0,8.0,THE HUNTERS return in their third brilliant no...,1,0,220.00,32.0
1,1721,307,3.9,14.0,A layered portrait of a troubled genius for wh...,74,2,202.93,54.6
2,2446,3390,4.8,6.0,"""During the time men live without a common Pow...",193,6,299.00,28.8
3,155,62,4.1,13.0,A handful of grain is found in the pocket of a...,92,5,180.00,53.3
4,2343,953,5.0,1.0,"For seven decades, ""Life"" has been thrilling t...",253,1,965.62,5.0

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
Title              6237 non-null int32
Author             6237 non-null int32
Reviews            6237 non-null float64
Ratings            6237 non-null float64
Synopsis           6237 non-null object
Genre              6237 non-null int32
BookCategory       6237 non-null int32
Price              6237 non-null float64
Reviews_Ratings    6237 non-null float64
dtypes: float64(4), int32(4), object(1)
memory usage: 341.2+ KB

In [20]:
train = train.drop('Synopsis', axis = 1)

In [21]:
test = test.drop('Synopsis', axis = 1)

In [22]:
test = test.drop('Edition', axis = 1)

In [23]:
test['Title'] = le.fit_transform(test['Title'])
test['Author'] = le.fit_transform(test['Author'])
test['Genre'] = le.fit_transform(test['Genre'])
test['BookCategory'] = le.fit_transform(test['BookCategory'])

In [24]:
test['Reviews'] = test['Reviews'].apply(lambda x:x.split(' ')[0])

In [25]:
test['Ratings'] = test['Ratings'].apply(lambda x:x.split(' ')[0])

In [26]:
test['Ratings'] = test['Ratings'].apply(lambda x: eval(''.join(x.split(','))))

In [27]:
test['Ratings'] = test['Ratings'].astype(float)
test['Reviews'] = test['Reviews'].astype(float)

In [28]:
test['Reviews_Ratings'] = test['Reviews']*test['Ratings']

In [29]:
x_train = train.drop('Price', axis = 1)
y_train = train['Price']
x_test = test

In [30]:
from lightgbm import LGBMRegressor
lgm = LGBMRegressor()
lgm_pred = lgm.fit(x_train, y_train).predict(x_test)

print('Training score is ', lgm.score(x_train, y_train))
solution = pd.DataFrame({'Price': lgm_pred})
solution.to_csv('lgm.csv', index = False)

Training score is  0.49044156217209744