In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('train.csv')
train.head()

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-01 00:00:00,12.5,6.9,0.21,1005,121,1.0,0,0,0,0,0.258,1,173.92,1.4,68.82
1,2019-01-01 00:10:00,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
2,2019-01-01 00:20:00,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
3,2019-01-01 00:30:00,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
4,2019-01-01 00:40:00,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91

In [3]:
train.shape

(210240, 16)

In [4]:
train.isnull().sum()

Timestamp             0
Temperature           0
Dew Point             0
Surface Albedo        0
Pressure              0
Wind Direction        0
Wind Speed            0
Clearsky DHI          0
Clearsky DNI          0
Clearsky GHI          0
Fill Flag             0
Ozone                 0
Cloud Type            0
Solar Zenith Angle    0
Precipitable Water    0
Relative Humidity     0
dtype: int64

In [5]:
test = pd.read_csv('test.csv')
test.head()

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2023-01-01 00:00:00,11.3,1.6,0.21,1006,305,1.2,NaN,NaN,NaN,0,0.255,0,173.92,1.4,51.38
1,2023-01-01 00:10:00,11.2,1.6,0.21,1006,306,1.2,NaN,NaN,NaN,0,0.255,0,171.79,1.4,51.72
2,2023-01-01 00:20:00,11.1,1.6,0.21,1006,306,1.2,NaN,NaN,NaN,0,0.255,0,169.59,1.4,52.06
3,2023-01-01 00:30:00,11.0,1.6,0.21,1006,307,1.2,NaN,NaN,NaN,0,0.255,0,167.37,1.4,52.41
4,2023-01-01 00:40:00,10.9,1.2,0.21,1006,307,1.2,NaN,NaN,NaN,0,0.255,0,165.13,1.4,51.34

In [6]:
test.shape

(52560, 16)

In [7]:
test.isnull().sum()

Timestamp                 0
Temperature               0
Dew Point                 0
Surface Albedo            0
Pressure                  0
Wind Direction            0
Wind Speed                0
Clearsky DHI          52560
Clearsky DNI          52560
Clearsky GHI          52560
Fill Flag                 0
Ozone                     0
Cloud Type                0
Solar Zenith Angle        0
Precipitable Water        0
Relative Humidity         0
dtype: int64

In [8]:
newtrain = train.copy()

In [9]:
newtest = test.copy()

In [13]:
x = newtrain.drop(['Timestamp','Clearsky DHI', 'Clearsky GHI', 'Clearsky DNI'], axis = 1)
y = newtrain[['Clearsky DHI','Clearsky DNI','Clearsky GHI']]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [15]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 42, max_depth = 50)
y_pred = rf.fit(x_train, y_train).predict(x_test)

In [16]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

618.8670127314792

In [17]:
newtest = newtest.drop(['Timestamp','Clearsky DHI', 'Clearsky GHI', 'Clearsky DNI'], axis = 1)

In [18]:
test_prediction = rf.predict(newtest)

In [20]:
solution = pd.DataFrame(test_prediction)
solution.head()

     0    1    2
0  0.0  0.0  0.0
1  0.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  0.0  0.0
4  0.0  0.0  0.0

In [21]:
solution.shape

(52560, 3)

In [23]:
solution.to_csv('Solution.csv', index = False)