In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('Train.csv')
train.head()

      AT      V       AP     RH          PE
0  29.07  72.51  1009.24  58.38  449.371855
1  32.38  67.17  1006.97  60.04  450.861043
2  19.29  67.71  1007.94  63.71  460.894029
3  16.45  41.48  1016.64  45.21  467.577314
4  21.43  46.97  1013.94  61.25  469.805723

In [3]:
train.shape

(9568, 5)

In [4]:
test = pd.read_csv('Test.csv')
test.head()

      AT      V       AP     RH
0  16.98  53.16  1013.95  82.80
1   9.60  41.03  1021.01  69.03
2   6.11  38.68  1017.53  79.23
3  12.34  43.22  1009.28  78.23
4  27.67  59.14  1016.51  61.20

In [5]:
test.shape

(38272, 4)

In [6]:
train.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [7]:
test.isnull().sum()

AT    0
V     0
AP    0
RH    0
dtype: int64

In [9]:
train.duplicated().sum()

0

In [11]:
train['AP/V'] = train['AP']/train['V']
train['AT-RH'] = train['AT']-train['RH']
train['Dew_Point'] = train['AT']-((100-train['RH'])/5)

In [12]:
test['AP/V'] = test['AP']/test['V']
test['AT-RH'] = test['AT']-test['RH']
test['Dew_Point'] = test['AT']-((100-test['RH'])/5)

In [13]:
train.head()

      AT      V       AP     RH          PE       AP/V  AT-RH  Dew_Point
0  29.07  72.51  1009.24  58.38  449.371855  13.918632 -29.31     20.746
1  32.38  67.17  1006.97  60.04  450.861043  14.991365 -27.66     24.388
2  19.29  67.71  1007.94  63.71  460.894029  14.886132 -44.42     12.032
3  16.45  41.48  1016.64  45.21  467.577314  24.509161 -28.76      5.492
4  21.43  46.97  1013.94  61.25  469.805723  21.586970 -39.82     13.680

In [14]:
x_train = train.drop('PE', axis = 1)
y_train = train['PE']
x_test = test

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [18]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf_pred = rf.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'PE': rf_pred})
solution.to_csv('RF.csv', index = False)

In [19]:
from xgboost import XGBRegressor
xgb = XGBRegressor()
xgb_pred = xgb.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'PE': xgb_pred})
solution.to_csv('XGB.csv', index = False)

C:\Users\Akshay\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\Akshay\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[12:25:50] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.