In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('Train.csv')
train.head()

      AT      V       AP     RH          PE
0  29.07  72.51  1009.24  58.38  449.371855
1  32.38  67.17  1006.97  60.04  450.861043
2  19.29  67.71  1007.94  63.71  460.894029
3  16.45  41.48  1016.64  45.21  467.577314
4  21.43  46.97  1013.94  61.25  469.805723

In [3]:
train.shape

(9568, 5)

In [4]:
test = pd.read_csv('Test.csv')
test.head()

      AT      V       AP     RH
0  16.98  53.16  1013.95  82.80
1   9.60  41.03  1021.01  69.03
2   6.11  38.68  1017.53  79.23
3  12.34  43.22  1009.28  78.23
4  27.67  59.14  1016.51  61.20

In [5]:
test.shape

(38272, 4)

In [6]:
train.isnull().sum()

AT    0
V     0
AP    0
RH    0
PE    0
dtype: int64

In [7]:
test.isnull().sum()

AT    0
V     0
AP    0
RH    0
dtype: int64

In [8]:
x_train = train.drop('PE', axis = 1)
y_train = train['PE']
x_test = test

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [66]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf_pred = rf.fit(x_train, y_train).predict(x_test)
print('Accuracy score', rf.score(x_train, y_train))
solution = pd.DataFrame({'PE': rf_pred})
solution.to_csv('RF.csv', index = False)

Accuracy score 0.9958484237420312