In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('Train.csv')
train.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5

In [3]:
train.shape

(29451, 12)

In [4]:
test = pd.read_csv('Test.csv')
test.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE
0,Owner,0,0,1,BHK,545.171340,1,1,"Kamrej,Surat",21.262000,73.047700
1,Dealer,1,1,2,BHK,800.000000,0,0,"Panvel,Lalitpur",18.966114,73.148278
2,Dealer,0,0,2,BHK,1257.096513,1,1,"New Town,Kolkata",22.592200,88.484911
3,Dealer,0,0,3,BHK,1400.329489,1,1,"Kalwar Road,Jaipur",26.988300,75.584600
4,Owner,0,0,1,BHK,430.477830,1,1,"Mai Mandir,Nadiad",22.700000,72.870000

In [5]:
test.shape

(68720, 11)

In [6]:
train.isnull().sum()

POSTED_BY                0
UNDER_CONSTRUCTION       0
RERA                     0
BHK_NO.                  0
BHK_OR_RK                0
SQUARE_FT                0
READY_TO_MOVE            0
RESALE                   0
ADDRESS                  0
LONGITUDE                0
LATITUDE                 0
TARGET(PRICE_IN_LACS)    0
dtype: int64

In [7]:
test.isnull().sum()

POSTED_BY             0
UNDER_CONSTRUCTION    0
RERA                  0
BHK_NO.               0
BHK_OR_RK             0
SQUARE_FT             0
READY_TO_MOVE         0
RESALE                0
ADDRESS               0
LONGITUDE             0
LATITUDE              0
dtype: int64

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
POSTED_BY                29451 non-null object
UNDER_CONSTRUCTION       29451 non-null int64
RERA                     29451 non-null int64
BHK_NO.                  29451 non-null int64
BHK_OR_RK                29451 non-null object
SQUARE_FT                29451 non-null float64
READY_TO_MOVE            29451 non-null int64
RESALE                   29451 non-null int64
ADDRESS                  29451 non-null object
LONGITUDE                29451 non-null float64
LATITUDE                 29451 non-null float64
TARGET(PRICE_IN_LACS)    29451 non-null float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [9]:
train['POSTED_BY'].value_counts()

Dealer     18291
Owner      10538
Builder      622
Name: POSTED_BY, dtype: int64

In [10]:
train['BHK_OR_RK'].value_counts()

BHK    29427
RK        24
Name: BHK_OR_RK, dtype: int64

In [11]:
train['ADDRESS'].value_counts()

Zirakpur,Chandigarh                        509
Whitefield,Bangalore                       230
Raj Nagar Extension,Ghaziabad              215
Sector-137 Noida,Noida                     139
New Town,Kolkata                           131
Jagatpura,Jaipur                           120
Rajarhat,Kolkata                           113
Thanisandra,Bangalore                      110
Noida Extension,Noida                      107
Baner,Pune                                 101
Sector 88 Faridabad,Faridabad              100
Sector-75 Noida,Noida                       99
Sector 86 Faridabad,Faridabad               97
Ajmer Road,Jaipur                           96
Sector-150 Noida,Noida                      94
Sector-78 Noida,Noida                       91
Sarjapur Road,Bangalore                     89
Electronics City Phase 1,Bangalore          87
Hebbal,Bangalore                            82
Kundli,Sonipat                              81
Mansarovar,Jaipur                           79
Wagholi,Pune                                79
Kharadi,Pune                                78
Yelahanka,Bangalore                         77
Sector-74 Noida,Noida                       77
Crossing Republik,Ghaziabad                 71
Wakad,Pune                                  71
NIBM,Pune                                   71
Hadapsar,Pune                               71
Sector 82 Faridabad,Faridabad               69
                                          ...
Jalalpore,Navsari                            1
Judicial Layout,Bangalore                    1
Fairlands,Salem                              1
RATA ROAD CHIRI,Vapi                         1
Sai Colony, Near Sai Mandir, Dighi,Pune      1
Mohan Nagar,Nagpur                           1
Maldahiya,Varanasi                           1
Mevalurkuppam,Kanchipuram                    1
Nageshwar,jamnagar road,Rajkot               1
Sector 11 Belapur,Mumbai                     1
Film City Road,Maharashtra                   1
Richmond Road,Bangalore                      1
silicon city,Indore                          1
Kannamkulangara,Thrissur                     1
Lake City,Bangalore                          1
Narayana Nagar 3rd Block,Bangalore           1
Sakhiya Nagar,Rajkot                         1
Chaksu,Jaipur                                1
Shivramnagar,Pune                            1
Kachimet,Lalitpur                            1
Bilasi Town,Deoghar                          1
Prem Nagar,Kota                              1
Sathe Nagar,Pune                             1
Godhni,Nagpur                                1
Kathgodam,Haldwani                           1
Sukanta Nagar,Kolkata                        1
dahivali,Karjat                              1
Pali Village,Maharashtra                     1
Yahiyaganj,Lucknow                           1
Ganjpara,Durg                                1
Name: ADDRESS, Length: 6899, dtype: int64

In [12]:
train['ADDRESS'] = train['ADDRESS'].apply(lambda x:x.split(',')[1])

In [13]:
test['ADDRESS'] = test['ADDRESS'].apply(lambda x:x.split(',')[1])

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
POSTED_BY                29451 non-null object
UNDER_CONSTRUCTION       29451 non-null int64
RERA                     29451 non-null int64
BHK_NO.                  29451 non-null int64
BHK_OR_RK                29451 non-null object
SQUARE_FT                29451 non-null float64
READY_TO_MOVE            29451 non-null int64
RESALE                   29451 non-null int64
ADDRESS                  29451 non-null object
LONGITUDE                29451 non-null float64
LATITUDE                 29451 non-null float64
TARGET(PRICE_IN_LACS)    29451 non-null float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

In [15]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [16]:
train['ADDRESS'] = le.fit_transform(train['ADDRESS'])

In [17]:
test['ADDRESS'] = le.fit_transform(test['ADDRESS'])

In [18]:
train = pd.get_dummies(train)

In [19]:
test = pd.get_dummies(test)

In [20]:
x_train = train.drop('TARGET(PRICE_IN_LACS)', axis = 1)
y_train = train['TARGET(PRICE_IN_LACS)']
x_test = test.copy()

In [21]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
y_pred = rf.fit(x_train, y_train).predict(x_test)
solution = pd.DataFrame({'TARGET(PRICE_IN_LACS)': np.abs(y_pred)})
solution.to_csv('RF GET DUMMIES.csv', index = False)

In [22]:
y_pred

array([  19.157     ,   32.78      ,   44.05733333, ..., 8222.95      ,
         70.279     ,  457.        ])