In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import chardet

In [2]:
train = pd.read_csv('Train.csv')
train.head()

,index,date,Energy_Consumption,LaRP,LeRP,LaPF,LePF,Duty,Emissions_Air_Quality_Metric
0,0,01-01-2018 00:15,3.21,2.96,0.0,73.21,100.0,Low,105
1,1,01-01-2018 00:30,3.95,4.46,0.0,66.78,100.0,Low,101
2,2,01-01-2018 00:45,3.23,3.28,0.0,70.27,100.0,Low,94
3,3,01-01-2018 01:00,3.33,3.56,0.0,68.10,100.0,Low,99
4,4,01-01-2018 01:15,3.79,4.49,0.0,64.72,100.0,Low,109

In [3]:
train.isnull().sum()

index                           0
date                            0
Energy_Consumption              0
LaRP                            0
LeRP                            0
LaPF                            0
LePF                            0
Duty                            0
Emissions_Air_Quality_Metric    0
dtype: int64

In [4]:
test = pd.read_csv('Test.csv')
test.head()

,Unnamed: 0,TimeStamp,LaRP,LeRP,LaPF,LePF,Duty,Emissions_Air_Quality_Metric
0,0,2018-01-01 02:45:00,4.04,0.00,65.15,100.00,Low,109
1,1,2018-01-01 09:45:00,0.00,19.22,100.00,20.00,Low,104
2,2,2018-01-01 11:15:00,0.00,5.66,100.00,52.55,Low,100
3,3,2018-01-01 18:15:00,0.00,8.96,100.00,40.77,Low,106
4,4,2018-01-01 18:30:00,0.00,5.46,100.00,53.02,Low,104

In [5]:
test.isnull().sum()

Unnamed: 0                      0
TimeStamp                       0
LaRP                            0
LeRP                            0
LaPF                            0
LePF                            0
Duty                            0
Emissions_Air_Quality_Metric    0
dtype: int64

In [6]:
test.shape

(2190, 8)

In [7]:
train_size = int(len(train) * 0.8)
train_data = train[:train_size]
test_data = train[train_size:]

In [8]:
from statsmodels.tsa.arima.model import ARIMA

In [37]:
model = ARIMA(train_data['Energy_Consumption'], order=(5,1,0))
model_fit = model.fit()

In [38]:
predictions = model_fit.forecast(steps=len(test_data))

In [39]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [40]:
rmse = sqrt(mean_squared_error(test_data['Energy_Consumption'], predictions))
print(f'RMSE: {rmse}')

RMSE: 54.84656073080984

In [41]:
test = test.rename({'Unnamed: 0': 'index', 'TimeStamp': 'date'}, axis = 1)

In [42]:
train.columns

Index(['index', 'date', 'Energy_Consumption', 'LaRP', 'LeRP', 'LaPF', 'LePF',
       'Duty', 'Emissions_Air_Quality_Metric'],
      dtype='object')

In [43]:
test.columns

Index(['index', 'date', 'LaRP', 'LeRP', 'LaPF', 'LePF', 'Duty',
       'Emissions_Air_Quality_Metric'],
      dtype='object')

In [44]:
train_data = train
test_data = test

In [45]:
model = ARIMA(train_data['Energy_Consumption'], order=(5,1,0))
model_fit = model.fit()

In [46]:
predictions = model_fit.forecast(steps=len(test_data))

In [47]:
len(predictions)

2190

In [48]:
predictions

32850    3.691499
32851    3.769797
32852    3.825677
32853    3.857279
32854    3.816165
           ...
35035    3.704773
35036    3.704773
35037    3.704773
35038    3.704773
35039    3.704773
Name: predicted_mean, Length: 2190, dtype: float64

In [49]:
submission = pd.read_csv('Submission.csv')
submission.head()

   Unnamed: 0  Energy_Consumption
0           0                   0
1           1                   0
2           2                   0
3           3                   0
4           4                   0

In [51]:
submission.shape

(2190, 2)

In [52]:
a = pd.DataFrame(predictions)
a

       predicted_mean
32850        3.691499
32851        3.769797
32852        3.825677
32853        3.857279
32854        3.816165
...               ...
35035        3.704773
35036        3.704773
35037        3.704773
35038        3.704773
35039        3.704773

[2190 rows x 1 columns]

In [53]:
a.reset_index()
a

       predicted_mean
32850        3.691499
32851        3.769797
32852        3.825677
32853        3.857279
32854        3.816165
...               ...
35035        3.704773
35036        3.704773
35037        3.704773
35038        3.704773
35039        3.704773

[2190 rows x 1 columns]

In [54]:
a.to_csv('Sol.csv', index = False)