In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [109]:
train = pd.read_csv('Train.csv')
train.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads
0,ps_id-24654,Finance,4.18,1481,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+"
1,ps_id-35329,Music And Audio,4.81,302,10M,Free,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+"
2,ps_id-11044,Game Casual,4.27,374,27M,Free,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+"
3,ps_id-36068,Business,4.03,122058,Varies with device,Free,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+"
4,ps_id-35831,Medical,4.60,358,Varies with device,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+"

In [110]:
test = pd.read_csv('Test.csv')
test.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required
0,ps_id-18231,Game Puzzle,4.52,1362,36M,Free,Everyone,May 05 2020,1.4.1,4.0.3 and up
1,ps_id-1874,Shopping,4.29,3353,Varies with device,Free,Teen,May 05 2020,Varies with device,Varies with device
2,ps_id-3182,Photography,4.55,161855,Varies with device,Free,Everyone,May 05 2020,Varies with device,Varies with device
3,ps_id-31452,Game Action,3.97,545,16M,Free,Everyone,Dec 07 2016,2,4.1 and up
4,ps_id-25641,Photography,4.65,1672,33M,Free,Everyone,Jan 25 2020,1,4.4 and up

In [111]:
train.isnull().sum()

Offered_By             0
Category               0
Rating                 0
Reviews                0
Size                   0
Price                  0
Content_Rating         0
Last_Updated_On        0
Release_Version        0
OS_Version_Required    0
Downloads              0
dtype: int64

In [112]:
train.shape

(16516, 11)

In [113]:
test.shape

(24776, 10)

In [114]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16516 entries, 0 to 16515
Data columns (total 11 columns):
Offered_By             16516 non-null object
Category               16516 non-null object
Rating                 16516 non-null float64
Reviews                16516 non-null int64
Size                   16516 non-null object
Price                  16516 non-null object
Content_Rating         16516 non-null object
Last_Updated_On        16516 non-null object
Release_Version        16516 non-null object
OS_Version_Required    16516 non-null object
Downloads              16516 non-null object
dtypes: float64(1), int64(1), object(9)
memory usage: 1.4+ MB

In [115]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24776 entries, 0 to 24775
Data columns (total 10 columns):
Offered_By             24776 non-null object
Category               24776 non-null object
Rating                 24776 non-null float64
Reviews                24776 non-null int64
Size                   24776 non-null object
Price                  24776 non-null object
Content_Rating         24776 non-null object
Last_Updated_On        24776 non-null object
Release_Version        24776 non-null object
OS_Version_Required    24776 non-null object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

In [116]:
newtest = test.copy()

In [117]:
import time
from datetime import datetime
date_format = "%b %d %Y"
train['No_of_days_Updated'] = train['Last_Updated_On'].apply(lambda x:(datetime.strptime('May 07 2020', date_format)-datetime.strptime(str(x), date_format ) ).days )

In [118]:
newtest['No_of_days_Updated'] = newtest['Last_Updated_On'].apply(lambda x:(datetime.strptime('May 07 2020', date_format)-datetime.strptime(str(x), date_format ) ).days )

In [119]:
train['Offered_By'] = train['Offered_By'].apply(lambda x:x.split('-')[1])
newtest['Offered_By'] = newtest['Offered_By'].apply(lambda x:x.split('-')[1])

In [120]:
train['Offered_By'] = train['Offered_By'].astype(int)
newtest['Offered_By'] = newtest['Offered_By'].astype(int)

In [121]:
train['Size'] = train['Size'].str.replace(',','')
k_indices = train['Size'].loc[train['Size'].str.contains('k')].index.tolist()
converter = pd.DataFrame(train.loc[k_indices, 'Size'].apply(lambda x: x.strip('k')).astype(float).apply(lambda x: x / 1000).apply(lambda x: round(x, 3)).astype(str))
train.loc[k_indices,'Size'] = converter
train['Size'] = train['Size'].str.replace('M', '')
train['Size'] = train['Size'].str.replace('Varies with device','0')

In [122]:
newtest['Size'] = newtest['Size'].str.replace(',','')
k_indices = newtest['Size'].loc[newtest['Size'].str.contains('k')].index.tolist()
converter = pd.DataFrame(newtest.loc[k_indices, 'Size'].apply(lambda x: x.strip('k')).astype(float).apply(lambda x: x / 1000).apply(lambda x: round(x, 3)).astype(str))
newtest.loc[k_indices,'Size'] = converter
newtest['Size'] = newtest['Size'].str.replace('M', '')
newtest['Size'] = newtest['Size'].str.replace('Varies with device','0')

In [123]:
train['Size'] = train['Size'].astype(float)
newtest['Size'] = newtest['Size'].astype(float)

In [124]:
train['Price'] = train['Price'].str.replace('Free','0')
train['Price'] = train['Price'].astype(float)

In [125]:
newtest['Price'] = newtest['Price'].str.replace('Free','0')
newtest['Price'] = newtest['Price'].astype(float)

In [126]:
train.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,Last_Updated_On,Release_Version,OS_Version_Required,Downloads,No_of_days_Updated
0,24654,Finance,4.18,1481,0.0,0.0000,Everyone,May 05 2020,Varies with device,Varies with device,"100,000+",2
1,35329,Music And Audio,4.81,302,10.0,0.0000,Everyone,Mar 26 2020,3.9.18,4.1 and up,"5,000+",42
2,11044,Game Casual,4.27,374,27.0,0.0000,Everyone,May 01 2020,1.10.1,4.1 and up,"10,000+",6
3,36068,Business,4.03,122058,0.0,0.0000,Teen,May 02 2020,Varies with device,Varies with device,"10,000,000+",5
4,35831,Medical,4.60,358,0.0,297.5742,Everyone,Nov 29 2018,Varies with device,Varies with device,"5,000+",525

In [127]:
train['Content_Rating'].value_counts()

Everyone           13895
Teen                1590
Everyone 10+         596
Mature 17+           429
Adults only 18+        4
Unrated                2
Name: Content_Rating, dtype: int64

In [128]:
train['OS_Version_Required'] = [x[0:3] for x in train['OS_Version_Required']]

In [129]:
train['OS_Version_Required'] = train['OS_Version_Required'].replace({'Var': 0.0})
train['OS_Version_Required'] = train['OS_Version_Required'].astype(float)

In [130]:
newtest['OS_Version_Required'] = [x[0:3] for x in newtest['OS_Version_Required']]

newtest['OS_Version_Required'] = newtest['OS_Version_Required'].replace({'Var': 0.0})
newtest['OS_Version_Required'] = newtest['OS_Version_Required'].astype(float)

In [131]:
train['OS_Version_Required'].unique()

array([0. , 4.1, 5. , 4.4, 4. , 2.3, 4.2, 4.3, 3. , 2.2, 6. , 3.1, 5.1,
       2.1, 1.5, 1.6, 8. , 7. , 3.2, 7.1, 1.1, 2. , 1. ])

In [132]:
train['Category'].unique()

array(['Finance', 'Music And Audio', 'Game Casual', 'Business', 'Medical',
       'Books And Reference', 'Tools', 'Game', 'Travel And Local',
       'Family', 'Game Simulation', 'Lifestyle', 'Comics', 'Education',
       'Entertainment', 'Game Action', 'Social', 'Sports', 'Photography',
       'Game Word', 'Game Trivia', 'Communication', 'News And Magazines',
       'Game Board', 'House And Home', 'Personalization', 'Game Puzzle',
       'Productivity', 'Health And Fitness', 'Shopping', 'Art And Design',
       'Weather', 'Maps And Navigation', 'Dating', 'Game Arcade',
       'Game Role Playing', 'Game Educational', 'Video Players',
       'Game Strategy', 'Food And Drink', 'Game Sports',
       'Auto And Vehicles', 'Events', 'Game Adventure', 'Parenting',
       'Libraries And Demo', 'Game Racing', 'Game Card', 'Game Music',
       'Game Casino', 'Beauty'], dtype=object)

In [133]:
train['Category'] = train['Category'].replace(to_replace = ['Game Casual', 'Game Simulation', 'Game Action', 'Game Word', 'Game Trivia',
                                                           'Game Board', 'Game Puzzle', 'Game Arcade', 'Game Role Playing', 'Game Educational',
                                                           'Game Strategy', 'Game Sports', 'Game Adventure', 'Game Racing', 'Game Card', 'Game Music',
                                                           'Game Casino'], value = ['Game']*17)

In [134]:
newtest['Category'] = newtest['Category'].replace(to_replace = ['Game Casual', 'Game Simulation', 'Game Action', 'Game Word', 'Game Trivia',
                                                           'Game Board', 'Game Puzzle', 'Game Arcade', 'Game Role Playing', 'Game Educational',
                                                           'Game Strategy', 'Game Sports', 'Game Adventure', 'Game Racing', 'Game Card', 'Game Music',
                                                           'Game Casino'], value = ['Game']*17)

In [135]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Category'] = le.fit_transform(train['Category'])
train['Content_Rating'] = le.fit_transform(train['Content_Rating'])
train['Downloads'] = le.fit_transform(train['Downloads'])

In [136]:
newtest['Category'] = le.fit_transform(newtest['Category'])
newtest['Content_Rating'] = le.fit_transform(newtest['Content_Rating'])

In [137]:
train = train.drop(['Last_Updated_On','Release_Version'], axis = 1)
newtest = newtest.drop(['Last_Updated_On', 'Release_Version'], axis = 1)

In [138]:
train.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,OS_Version_Required,Downloads,No_of_days_Updated
0,24654,12,4.18,1481,0.0,0.0000,1,0.0,7,2
1,35329,21,4.81,302,10.0,0.0000,1,4.1,9,42
2,11044,14,4.27,374,27.0,0.0000,1,4.1,4,6
3,36068,4,4.03,122058,0.0,0.0000,4,0.0,5,5
4,35831,20,4.60,358,0.0,297.5742,1,0.0,9,525

In [139]:
newtest.head()

,Offered_By,Category,Rating,Reviews,Size,Price,Content_Rating,OS_Version_Required,No_of_days_Updated
0,18231,14,4.52,1362,36.0,0.0,1,4.0,2
1,1874,27,4.29,3353,0.0,0.0,4,0.0,2
2,3182,25,4.55,161855,0.0,0.0,1,0.0,2
3,31452,14,3.97,545,16.0,0.0,1,4.1,1247
4,25641,25,4.65,1672,33.0,0.0,1,4.4,103

In [140]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16516 entries, 0 to 16515
Data columns (total 10 columns):
Offered_By             16516 non-null int32
Category               16516 non-null int32
Rating                 16516 non-null float64
Reviews                16516 non-null int64
Size                   16516 non-null float64
Price                  16516 non-null float64
Content_Rating         16516 non-null int32
OS_Version_Required    16516 non-null float64
Downloads              16516 non-null int32
No_of_days_Updated     16516 non-null int64
dtypes: float64(4), int32(4), int64(2)
memory usage: 1.0 MB

In [141]:
x_train = train.drop('Downloads', axis = 1)
y_train = train['Downloads']

In [58]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

test_pred = rf.predict_proba(newtest)

df1 = pd.DataFrame(test_pred)
filepath = 'rf3.csv'
df1.to_csv(filepath, index = False)

In [59]:
from xgboost import XGBClassifier
xgb =XGBClassifier()
xgb.fit(x_train, y_train)
test_pred = xgb.predict_proba(newtest)

df1 = pd.DataFrame(test_pred)
filepath = 'xgb3.csv'
df1.to_csv(filepath, index = False)