In [73]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
train = pd.read_csv('Train.csv')
train.head()

   Area_Code  Locality_Code  Region_Code  Height  Diameter  Class  Species
0       4694             17         1609     3.0       5.0      7       48
1        781              7         1380     4.0      17.0      2       54
2      21014              6         1122     3.0      11.0      1       22
3       7326              6          556     3.0      34.0      7       25
4      13122             17         1752     5.0      16.0      2      128

In [75]:
train.shape

(12666, 7)

In [76]:
test = pd.read_csv('Test.csv')
test.head()

   Area_Code  Locality_Code  Region_Code  Height  Diameter  Species
0      25836              4          903     7.5       8.0       14
1      28544             14         1576     3.0       7.0       48
2       7037             11          350    15.0      57.0       56
3      20460             17         1208     3.0       6.0      180
4      17555             14          994     4.5      22.0      225

In [77]:
train.isnull().sum()

Area_Code        0
Locality_Code    0
Region_Code      0
Height           0
Diameter         0
Class            0
Species          0
dtype: int64

In [78]:
test.shape

(29555, 6)

In [79]:
test.isnull().sum()

Area_Code        0
Locality_Code    0
Region_Code      0
Height           0
Diameter         0
Species          0
dtype: int64

In [80]:
df = train.append(test, ignore_index= True)
df.shape

C:\Users\Akshay\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(42221, 7)

In [81]:
demo = df.groupby('Area_Code').agg({'Height' : ['max', 'mean', 'sum', 'median'],'Diameter' : ['max', 'mean', 'sum', 'median']})

In [82]:
demo.columns = ['_Area_Code_'.join(x) for x in demo.columns]

In [83]:
df = pd.merge(df, demo, on=['Area_Code'], how='left')
df.head()

,Area_Code,Class,Diameter,Height,Locality_Code,Region_Code,Species,Height_Area_Code_max,Height_Area_Code_mean,Height_Area_Code_sum,Height_Area_Code_median,Diameter_Area_Code_max,Diameter_Area_Code_mean,Diameter_Area_Code_sum,Diameter_Area_Code_median
0,4694,7.0,5.0,3.0,17,1609,48,12.5,4.051282,158.0,3.0,100.0,20.102564,784.0,20.0
1,781,2.0,17.0,4.0,7,1380,54,4.0,4.000000,4.0,4.0,17.0,17.000000,17.0,17.0
2,21014,1.0,11.0,3.0,6,1122,22,3.0,3.000000,3.0,3.0,11.0,11.000000,11.0,11.0
3,7326,7.0,34.0,3.0,6,556,25,3.0,3.000000,3.0,3.0,34.0,34.000000,34.0,34.0
4,13122,2.0,16.0,5.0,17,1752,128,5.0,5.000000,5.0,5.0,16.0,16.000000,16.0,16.0

In [84]:
demo = df.groupby('Locality_Code').agg({'Height' : ['max', 'mean', 'sum' , 'median'],'Diameter' : ['max', 'mean', 'sum', 'median'],'Species' : ['count']})
demo.columns = ['_Locality_Code_'.join(x) for x in demo.columns]
df = pd.merge(df, demo, on=['Locality_Code'], how='left')
df.columns

Index(['Area_Code', 'Class', 'Diameter', 'Height', 'Locality_Code',
       'Region_Code', 'Species', 'Height_Area_Code_max',
       'Height_Area_Code_mean', 'Height_Area_Code_sum',
       'Height_Area_Code_median', 'Diameter_Area_Code_max',
       'Diameter_Area_Code_mean', 'Diameter_Area_Code_sum',
       'Diameter_Area_Code_median', 'Height_Locality_Code_max',
       'Height_Locality_Code_mean', 'Height_Locality_Code_sum',
       'Height_Locality_Code_median', 'Diameter_Locality_Code_max',
       'Diameter_Locality_Code_mean', 'Diameter_Locality_Code_sum',
       'Diameter_Locality_Code_median', 'Species_Locality_Code_count'],
      dtype='object')

In [85]:
demo = df.groupby('Region_Code').agg({'Height' : ['max', 'mean', 'sum', 'median'],'Diameter' : ['max', 'mean', 'sum', 'median']})
demo.columns = ['_Region_Code_'.join(x) for x in demo.columns]
df = pd.merge(df, demo, on=['Region_Code'], how='left')
df.columns

Index(['Area_Code', 'Class', 'Diameter', 'Height', 'Locality_Code',
       'Region_Code', 'Species', 'Height_Area_Code_max',
       'Height_Area_Code_mean', 'Height_Area_Code_sum',
       'Height_Area_Code_median', 'Diameter_Area_Code_max',
       'Diameter_Area_Code_mean', 'Diameter_Area_Code_sum',
       'Diameter_Area_Code_median', 'Height_Locality_Code_max',
       'Height_Locality_Code_mean', 'Height_Locality_Code_sum',
       'Height_Locality_Code_median', 'Diameter_Locality_Code_max',
       'Diameter_Locality_Code_mean', 'Diameter_Locality_Code_sum',
       'Diameter_Locality_Code_median', 'Species_Locality_Code_count',
       'Height_Region_Code_max', 'Height_Region_Code_mean',
       'Height_Region_Code_sum', 'Height_Region_Code_median',
       'Diameter_Region_Code_max', 'Diameter_Region_Code_mean',
       'Diameter_Region_Code_sum', 'Diameter_Region_Code_median'],
      dtype='object')

In [86]:
demo = df.groupby('Species').agg({'Height' : ['max', 'mean', 'sum', 'median'],'Diameter' : ['max', 'mean', 'sum', 'median']})
demo.columns = ['_Species_'.join(x) for x in demo.columns]
df = pd.merge(df, demo, on=['Species'], how='left')
df.columns

Index(['Area_Code', 'Class', 'Diameter', 'Height', 'Locality_Code',
       'Region_Code', 'Species', 'Height_Area_Code_max',
       'Height_Area_Code_mean', 'Height_Area_Code_sum',
       'Height_Area_Code_median', 'Diameter_Area_Code_max',
       'Diameter_Area_Code_mean', 'Diameter_Area_Code_sum',
       'Diameter_Area_Code_median', 'Height_Locality_Code_max',
       'Height_Locality_Code_mean', 'Height_Locality_Code_sum',
       'Height_Locality_Code_median', 'Diameter_Locality_Code_max',
       'Diameter_Locality_Code_mean', 'Diameter_Locality_Code_sum',
       'Diameter_Locality_Code_median', 'Species_Locality_Code_count',
       'Height_Region_Code_max', 'Height_Region_Code_mean',
       'Height_Region_Code_sum', 'Height_Region_Code_median',
       'Diameter_Region_Code_max', 'Diameter_Region_Code_mean',
       'Diameter_Region_Code_sum', 'Diameter_Region_Code_median',
       'Height_Species_max', 'Height_Species_mean', 'Height_Species_sum',
       'Height_Species_median', 'Diameter_Species_max',
       'Diameter_Species_mean', 'Diameter_Species_sum',
       'Diameter_Species_median'],
      dtype='object')

In [87]:
train = df.iloc[0:12666,:]
test = df.iloc[12666:, :]
test = test.drop('Class', axis = 1)

In [88]:
train.shape

(12666, 40)

In [89]:
test.shape

(29555, 39)

In [90]:
x_train = train.drop('Class',axis = 1)
y_train = train['Class']
x_test = test

In [91]:
from lightgbm import LGBMClassifier
lgb = LGBMClassifier()
lgb.fit(x_train, y_train)

test_pred = lgb.predict_proba(x_test)
df1 = pd.DataFrame(test_pred)
filepath = 'Solution.csv'
df1.to_csv(filepath, index = False)

In [92]:
from sklearn.ensemble import GradientBoostingClassifier
gab = GradientBoostingClassifier()
gab.fit(x_train, y_train)

test_pred = gab.predict_proba(x_test)
df1 = pd.DataFrame(test_pred)
filepath = 'Solution1.csv'
df1.to_csv(filepath, index = False)