In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('Training.csv')
train.head()

,Unnamed: 0,Financial Year,Quarter Ending,Quarter,County,City,County_City,key,GDP
0,0,2012,09/30/2011,1,1,1,1_1,93020111,3449658.32
1,1,2012,12/31/2011,2,1,1,1_1,123120111,3433050.00
2,2,2012,03/31/2012,3,1,1,1_1,33120121,3520501.00
3,3,2012,06/30/2012,4,1,1,1_1,63020121,2268743.00
4,4,2013,09/30/2012,1,1,1,1_1,93020121,3515263.00

In [3]:
train.shape

(33734, 9)

In [4]:
train.isnull().sum()

Unnamed: 0        0
Financial Year    0
Quarter Ending    0
Quarter           0
County            0
City              0
County_City       0
key               0
GDP               0
dtype: int64

In [5]:
train['County'].nunique()

99

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33734 entries, 0 to 33733
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      33734 non-null  int64
 1   Financial Year  33734 non-null  int64
 2   Quarter Ending  33734 non-null  object
 3   Quarter         33734 non-null  int64
 4   County          33734 non-null  int64
 5   City            33734 non-null  int64
 6   County_City     33734 non-null  object
 7   key             33734 non-null  int64
 8   GDP             33734 non-null  float64
dtypes: float64(1), int64(6), object(2)
memory usage: 2.3+ MB

In [7]:
train['County_City'].nunique()

775

In [8]:
train['County_City'].unique()

array(['1_1', '1_2', '1_4', '1_5', '1_6', '1_7', '1_8', '2_9', '2_7',
       '3_13', '3_14', '3_15', '3_7', '3_16', '3_17', '3_18', '4_19',
       '4_20', '4_22', '4_23', '4_7', '5_28', '5_30', '5_7', '6_32',
       '6_33', '6_34', '6_35', '6_36', '6_39', '6_40', '6_7', '6_41',
       '6_42', '6_43', '6_44', '6_45', '7_46', '7_47', '7_48', '7_49',
       '7_50', '7_51', '7_52', '7_54', '7_7', '7_55', '7_56', '8_58',
       '8_59', '8_60', '8_7', '9_62', '9_52', '9_7', '9_64', '9_65',
       '9_66', '9_67', '9_68', '10_69', '10_70', '10_71', '10_72',
       '10_73', '10_53', '10_74', '10_7', '10_75', '10_76', '10_78',
       '11_79', '11_80', '11_82', '11_83', '11_84', '11_7', '11_86',
       '11_87', '12_88', '12_89', '12_91', '12_92', '12_93', '12_94',
       '12_7', '12_95', '12_96', '13_97', '13_99', '13_100', '13_102',
       '13_7', '13_103', '13_104', '14_106', '14_107', '14_108', '14_109',
       '14_110', '14_111', '14_112', '14_114', '14_7', '14_115', '15_116',
       '15_117', '15_118', '15_119', '15_120', '15_122', '15_123',
       '16_125', '16_126', '16_127', '16_128', '16_7', '16_129', '16_130',
       '16_131', '17_133', '17_134', '17_7', '17_137', '17_139', '17_140',
       '17_141', '17_142', '18_143', '18_144', '18_147', '18_148', '18_7',
       '18_149', '19_151', '19_152', '19_153', '19_154', '19_155',
       '19_156', '19_7', '20_157', '20_158', '20_7', '21_161', '21_162',
       '21_163', '21_7', '21_165', '21_166', '21_167', '21_168', '22_169',
       '22_170', '22_174', '22_175', '22_176', '22_177', '22_179', '22_7',
       '22_182', '23_184', '23_185', '23_186', '23_187', '23_188',
       '23_189', '23_190', '23_191', '23_192', '23_193', '23_7', '23_196',
       '24_198', '24_200', '24_201', '24_203', '24_204', '24_7', '24_205',
       '24_206', '24_207', '25_208', '25_210', '25_211', '25_213',
       '25_214', '25_215', '25_218', '25_7', '25_219', '25_220', '25_221',
       '25_222', '25_223', '25_224', '25_225', '26_226', '26_227', '26_7',
       '26_229', '27_230', '27_231', '27_233', '27_234', '27_235', '27_7',
       '28_237', '28_239', '28_240', '28_241', '28_242', '28_169',
       '28_243', '28_244', '28_245', '28_7', '28_247', '29_248', '29_249',
       '29_250', '29_7', '29_252', '30_253', '30_254', '30_255', '30_256',
       '30_7', '30_257', '30_259', '31_262', '31_263', '31_264', '31_265',
       '31_266', '31_241', '31_267', '31_268', '31_269', '31_271', '31_7',
       '31_272', '31_273', '31_274', '32_276', '32_278', '32_7', '32_279',
       '32_280', '33_281', '33_282', '33_283', '33_284', '33_285',
       '33_286', '33_287', '33_7', '33_290', '33_291', '33_292', '34_294',
       '34_295', '34_296', '34_136', '34_7', '34_297', '34_298', '35_299',
       '35_300', '35_303', '35_304', '35_305', '35_7', '35_306', '36_307',
       '36_308', '36_7', '36_311', '36_312', '36_313', '37_315', '37_316',
       '37_317', '37_7', '37_318', '37_319', '37_320', '38_321', '38_322',
       '38_323', '38_324', '38_325', '38_7', '38_326', '38_328', '39_1',
       '39_330', '39_3', '39_331', '39_333', '39_7', '39_334', '39_8',
       '39_335', '40_336', '40_337', '40_7', '40_341', '40_342', '40_343',
       '40_344', '41_345', '41_346', '41_348', '41_349', '41_351',
       '41_352', '41_7', '41_353', '42_299', '42_354', '42_355', '42_356',
       '42_357', '42_358', '42_7', '42_359', '42_360', '42_361', '43_202',
       '43_363', '43_364', '43_366', '43_7', '43_367', '43_368', '43_369',
       '44_371', '44_372', '44_373', '44_7', '44_375', '44_376', '44_377',
       '45_378', '45_379', '45_380', '45_381', '45_7', '45_382', '45_383',
       '46_385', '46_388', '46_389', '46_7', '46_391', '47_394', '47_395',
       '47_396', '47_397', '47_398', '47_7', '48_401', '48_402', '48_404',
       '48_7', '48_405', '48_406', '48_407', '49_410', '49_194', '49_412',
       '49_7', '49_414', '49_415', '49_417', '50_419', '50_420', '50_421',
       '50_422', '50_423', '50_425', '50_426', '50_7', '50_427', '50_428',
       '50_429', '51_430', '51_432', '51_433', '51_434', '51_7', '51_435',
       '52_436', '52_437', '52_438', '52_440', '52_441', '52_7', '52_442',
       '52_443', '52_444', '52_445', '53_446', '53_264', '53_448',
       '53_449', '53_450', '53_451', '53_7', '53_452', '53_453', '54_455',
       '54_456', '54_457', '54_458', '54_459', '54_7', '54_460', '54_461',
       '54_462', '54_464', '55_465', '55_466', '55_467', '55_468',
       '55_469', '55_470', '55_471', '55_7', '55_473', '55_474', '55_475',
       '55_476', '55_477', '56_478', '56_479', '56_480', '56_481',
       '56_482', '56_7', '56_484', '57_486', '57_487', '57_488', '57_489',
       '57_490', '57_491', '57_492', '57_493', '57_494', '57_495',
       '57_496', '57_7', '57_497', '57_499', '57_500', '57_501', '58_504',
       '58_506', '58_507', '58_7', '58_509', '59_510', '59_512', '59_7',
       '59_513', '60_514', '60_515', '60_516', '60_517', '60_518',
       '60_519', '60_520', '60_7', '60_521', '61_523', '61_7', '61_526',
       '61_527', '62_528', '62_531', '62_532', '62_533', '62_534', '62_7',
       '63_537', '63_538', '63_539', '63_7', '63_541', '63_543', '64_545',
       '64_546', '64_548', '64_551', '64_552', '64_7', '64_553', '64_555',
       '65_556', '65_557', '65_560', '65_7', '65_561', '65_562', '66_565',
       '66_566', '66_7', '66_383', '66_567', '66_568', '67_571', '67_572',
       '67_573', '67_7', '67_574', '67_575', '67_576', '68_577', '68_578',
       '69_7', '69_581', '69_582', '69_583', '70_588', '70_589', '70_7',
       '70_591', '70_132', '71_593', '71_594', '71_7', '71_595', '71_596',
       '71_597', '71_598', '71_599', '72_600', '72_602', '72_603', '72_7',
       '72_604', '73_605', '73_606', '73_607', '73_608', '73_7', '73_311',
       '74_611', '74_612', '74_613', '74_614', '74_7', '74_615', '74_476',
       '75_616', '75_618', '75_619', '75_620', '75_621', '75_7', '75_622',
       '75_623', '75_624', '76_625', '76_626', '76_627', '76_7', '76_628',
       '76_629', '76_630', '77_632', '77_633', '77_634', '77_635',
       '77_210', '77_636', '77_637', '77_216', '77_638', '77_424', '77_7',
       '77_640', '77_641', '77_642', '77_221', '77_224', '77_644',
       '78_645', '78_646', '78_647', '78_648', '78_649', '78_650',
       '78_653', '78_654', '78_655', '78_7', '78_657', '78_658', '78_659',
       '79_660', '79_661', '79_662', '79_665', '79_666', '79_7', '80_669',
       '80_670', '80_672', '80_7', '80_673', '81_675', '81_676', '81_677',
       '81_101', '81_679', '81_7', '81_680', '81_681', '81_682', '82_683',
       '82_585', '82_684', '82_685', '82_687', '82_688', '82_689',
       '82_690', '82_7', '82_694', '82_696', '83_697', '83_698', '83_699',
       '83_700', '83_701', '83_7', '83_702', '83_703', '83_656', '84_705',
       '84_706', '84_707', '84_708', '84_709', '84_710', '84_711',
       '84_713', '84_714', '84_7', '84_715', '84_598', '84_716', '85_57',
       '85_717', '85_718', '85_719', '85_720', '85_721', '85_722',
       '85_723', '85_725', '85_7', '85_726', '85_727', '85_728', '85_729',
       '86_730', '86_731', '86_732', '86_733', '86_734', '86_735', '86_7',
       '86_738', '86_739', '86_740', '87_741', '87_743', '87_745',
       '87_746', '87_7', '88_747', '88_749', '88_750', '88_7', '89_753',
       '89_754', '89_755', '89_757', '89_758', '89_759', '89_7', '89_761',
       '90_762', '90_763', '90_530', '90_764', '90_7', '90_765', '91_635',
       '91_767', '91_768', '91_769', '91_770', '91_771', '91_772',
       '91_773', '91_639', '91_7', '92_776', '92_777', '92_778', '92_779',
       '92_7', '92_780', '92_781', '92_782', '92_783', '93_784', '93_786',
       '93_787', '93_788', '93_7', '93_790', '94_791', '94_793', '94_794',
       '94_795', '94_796', '94_797', '94_798', '94_799', '94_800', '94_7',
       '95_804', '95_348', '95_805', '95_806', '95_7', '95_809', '96_811',
       '96_813', '96_814', '96_815', '96_7', '96_816', '96_817', '97_818',
       '97_819', '97_820', '97_822', '97_823', '97_824', '97_825', '97_7',
       '97_827', '97_828', '97_829', '97_623', '97_830', '98_832',
       '98_833', '98_836', '98_837', '98_838', '98_7', '99_839', '99_840',
       '99_302', '99_841', '99_842', '99_7'], dtype=object)

In [9]:
test = pd.read_csv('Mapping.csv')
test.head()

   Unnamed: 0  City  Financial Year Quarter Ending  Quarter        key
0           0     1            2024     12/31/2023        2  123120231
1           1     1            2024     09/30/2023        1   93020231
2           2     1            2023     06/30/2023        4   63020231
3           3     1            2023     03/31/2023        3   33120231
4           4     1            2023     12/31/2022        2  123120221

In [10]:
test.shape

(3972, 6)

In [11]:
test.isnull().sum()

Unnamed: 0        0
City              0
Financial Year    0
Quarter Ending    0
Quarter           0
key               0
dtype: int64

In [12]:
train['Quarter Ending'] = pd.to_datetime(train['Quarter Ending'])

In [13]:
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_absolute_percentage_error

In [28]:
features = train[['Quarter Ending', 'Quarter', 'City']]

In [29]:
features['Quarter Ending'] = features['Quarter Ending'].map(pd.Timestamp.toordinal)  # Convert dates to ordinal

C:\Users\ahpat\AppData\Local\Temp\ipykernel_11420\2514656071.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['Quarter Ending'] = features['Quarter Ending'].map(pd.Timestamp.toordinal)  # Convert dates to ordinal

In [30]:
target = train['GDP'].astype(float)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.ensemble import RandomForestRegressor

In [32]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42, shuffle=False)

In [33]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

RandomForestRegressor(random_state=42)

In [35]:
y_pred = model.predict(X_test_scaled)

In [36]:
mape = mean_absolute_percentage_error(y_test, y_pred)
mape

19.70179116510153

In [40]:
test['Quarter Ending'] = pd.to_datetime(test['Quarter Ending'])

In [42]:
test['Quarter Ending'] = test['Quarter Ending'].map(pd.Timestamp.toordinal)

In [45]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33734 entries, 0 to 33733
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      33734 non-null  int64
 1   Financial Year  33734 non-null  int64
 2   Quarter Ending  33734 non-null  int64
 3   Quarter         33734 non-null  int64
 4   County          33734 non-null  int64
 5   City            33734 non-null  int64
 6   County_City     33734 non-null  object
 7   key             33734 non-null  int64
 8   GDP             33734 non-null  float64
dtypes: float64(1), int64(7), object(1)
memory usage: 2.3+ MB

In [48]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3972 entries, 0 to 3971
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3972 non-null   int64
 1   City            3972 non-null   int64
 2   Financial Year  3972 non-null   int64
 3   Quarter Ending  3972 non-null   int64
 4   Quarter         3972 non-null   int64
 5   key             3972 non-null   int64
dtypes: int64(6)
memory usage: 186.3 KB

In [49]:
x_train = train[['Quarter Ending', 'Quarter', 'City']]
y_train = train['GDP']
x_test = test[['Quarter Ending', 'Quarter', 'City']]

In [53]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(x_train)
X_test_scaled = scaler.transform(x_test)

In [54]:
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train_scaled, y_train)

RandomForestRegressor(random_state=42)

In [55]:
y_pred = model.predict(X_test_scaled)

In [56]:
type(y_pred)

numpy.ndarray

In [57]:
submission = pd.read_csv('Submission.csv')
submission.head()

   Unnamed: 0  GDP
0           0    0
1           1    0
2           2    0
3           3    0
4           4    0

In [65]:
solution = pd.DataFrame(submission['Unnamed: 0'])
solution['GDP'] = np.round(y_pred,0)
solution

      Unnamed: 0        GDP
0              0  1620338.0
1              1  1507227.0
2              2  1107641.0
3              3  1479239.0
4              4  1620338.0
...          ...        ...
3967        3967  1703724.0
3968        3968  1735179.0
3969        3969  1853646.0
3970        3970  1766313.0
3971        3971  1703724.0

[3972 rows x 2 columns]

In [66]:
solution.to_csv('Solution.csv', index= False)