In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [33]:
train = pd.read_csv('train.csv')
train.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI_Bucket
0,Jaipur,2019-05-04 01:00:00,60.8,91.5,41.6,37.3,66.7,27.0,1.0,10.5,26.9,2.0,7.6,3.1,5
1,Amritsar,2017-04-27 19:00:00,23.8,119.1,14.9,17.1,NaN,28.4,0.0,6.7,19.1,3.1,8.7,3.1,5
2,Amaravati,2018-11-12 10:00:00,93.8,182.0,5.5,63.9,NaN,1.8,1.3,23.1,41.7,0.1,0.6,3.1,5
3,Kochi,2020-06-19 09:00:00,16.0,26.9,17.4,0.9,0.0,23.6,1.6,27.4,34.8,3.1,0.0,3.1,5
4,Ahmedabad,2019-05-16 03:00:00,29.5,138.4,NaN,31.6,26.0,23.6,9.3,NaN,36.9,14.5,86.8,11.5,1

In [34]:
train.shape

(495512, 15)

In [35]:
train.isnull().sum()

City              0
Datetime          0
PM2.5          6661
PM10          10819
NO            25518
NO2            5614
NOx           10422
NH3           20535
CO             5017
SO2           12158
O3            23614
Benzene        8519
Toluene       11004
Xylene        12160
AQI_Bucket        0
dtype: int64

In [36]:
train.duplicated().sum()

0

In [37]:
train.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI_Bucket
count,488851.000000,484693.000000,469994.000000,489898.000000,485090.000000,474977.000000,490495.000000,483354.000000,471898.000000,486993.000000,484508.000000,483352.000000,495512.000000
mean,67.594300,119.133609,17.400187,28.893296,32.297654,23.605254,2.193791,14.026952,34.826780,3.092229,8.656081,3.114720,3.002131
std,66.518636,79.646784,29.347508,26.634609,36.097291,22.696589,10.491712,17.406665,26.947275,14.433554,17.955378,4.740591,1.999700
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,31.000000,79.600000,4.600000,12.400000,12.800000,12.300000,0.500000,5.600000,16.200000,0.200000,1.200000,2.300000,1.000000
50%,60.400000,119.100000,9.800000,25.300000,26.100000,23.600000,0.900000,10.600000,34.000000,1.800000,7.400000,3.100000,3.000000
75%,68.200000,119.100000,17.400000,31.900000,32.300000,23.600000,2.000000,14.000000,41.600000,3.100000,8.700000,3.100000,5.000000
max,1000.000000,1000.000000,500.000000,499.500000,498.300000,498.500000,498.600000,200.000000,497.600000,498.100000,499.400000,500.000000,6.000000

In [38]:
test = pd.read_csv('test.csv')
test.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene
0,Shillong,2019-11-02 02:00:00,67.6,119.1,17.4,28.9,32.3,23.6,2.2,14.0,34.8,3.1,8.7,3.1
1,Patna,2019-11-27 11:00:00,265.0,119.1,34.0,38.7,48.2,23.6,1.0,20.4,48.5,2.6,7.0,6.7
2,Patna,2020-01-06 01:00:00,86.3,117.4,19.1,20.3,38.7,30.1,1.4,8.2,15.9,2.3,0.7,3.1
3,Shillong,2020-01-18 08:00:00,10.5,13.3,0.8,2.4,1.0,2.5,0.1,7.2,55.9,0.1,0.0,3.1
4,Delhi,2020-02-17 14:00:00,82.9,158.7,11.8,36.7,31.0,36.7,0.6,12.1,78.8,3.6,18.9,0.1

In [39]:
test.shape

(212363, 14)

In [40]:
test.isnull().sum()

City            0
Datetime        0
PM2.5        2966
PM10         4754
NO          10937
NO2          2526
NOx          4443
NH3          8841
CO           2061
SO2          5184
O3          10010
Benzene      3585
Toluene      4640
Xylene       5182
dtype: int64

In [41]:
train['AQI_Bucket'].value_counts()

5    71123
4    71024
3    71017
0    70975
6    70602
2    70447
1    70324
Name: AQI_Bucket, dtype: int64

In [42]:
na_columns = ['PM2.5','PM10','NO','NO2','NOx','NH3','CO','SO2','O3','Benzene','Toluene','Xylene']

In [43]:
cities=['Chennai','Mumbai','Delhi','Lucknow','Bengaluru','Ahmedabad','Hyderabad','Patna','Gurugram','Visakhapatnam','Amritsar', 'Jorapokhar' ,'Thiruvananthapuram', 'Jaipur','Amaravati','Brajrajnagar','Talcher','Kolkata','Guwahati','Coimbatore','Shillong','Chandigarh','Bhopal','Ernakulam','Kochi','Aizawl']
newtrain = pd.DataFrame()
newtest = pd.DataFrame()

for i in cities:
    df_train = train[train.where(train['City']==i)['City'].notnull()]
    df_test = test[test.where(test['City']==i)['City'].notnull()]
    
    for col in na_columns:
        df_train[col] = df_train[col].fillna(df_train[col].median())
        df_test[col] = df_test[col].fillna(df_test[col].median())
        
    newtrain = pd.concat([df_train, newtrain], axis = 0)
    newtest = pd.concat([df_test, newtest], axis = 0)

In [44]:
newtrain.isnull().sum()

City          0
Datetime      0
PM2.5         0
PM10          0
NO            0
NO2           0
NOx           0
NH3           0
CO            0
SO2           0
O3            0
Benzene       0
Toluene       0
Xylene        0
AQI_Bucket    0
dtype: int64

In [45]:
newtest.isnull().sum()

City        0
Datetime    0
PM2.5       0
PM10        0
NO          0
NO2         0
NOx         0
NH3         0
CO          0
SO2         0
O3          0
Benzene     0
Toluene     0
Xylene      0
dtype: int64

In [46]:
newtrain['Datetime'] = pd.to_datetime(newtrain['Datetime'])

In [47]:
newtrain['year'] = newtrain['Datetime'].dt.year
newtrain['month'] = newtrain['Datetime'].dt.month_name()
newtrain['day'] = newtrain['Datetime'].dt.day_name()
newtrain['hour'] = newtrain['Datetime'].dt.hour

In [48]:
newtest['Datetime'] = pd.to_datetime(newtest['Datetime'])

In [49]:
newtest['year'] = newtest['Datetime'].dt.year
newtest['month'] = newtest['Datetime'].dt.month_name()
newtest['day'] = newtest['Datetime'].dt.day_name()
newtest['hour'] = newtest['Datetime'].dt.hour

In [50]:
newtrain = newtrain.drop('Datetime', axis = 1)
newtest = newtest.drop('Datetime', axis = 1)

In [51]:
newtrain = pd.get_dummies(newtrain, columns = ['City','month','day','year','hour'])
newtest = pd.get_dummies(newtest, columns = ['City','month','day','year','hour'])

In [52]:
newtrain.head(2)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
85,6.9,18.4,11.6,0.0,15.2,21.4,0.2,8.8,34.8,3.1,...,0,0,0,0,0,0,0,0,0,0
227,4.0,8.8,11.8,0.0,15.3,14.6,0.3,5.6,34.8,0.1,...,0,0,0,0,0,0,0,0,1,0

In [53]:
newtest.head(2)

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,...,hour_14,hour_15,hour_16,hour_17,hour_18,hour_19,hour_20,hour_21,hour_22,hour_23
158,16.0,17.1,11.5,0.1,15.2,39.3,0.3,9.9,34.8,0.0,...,1,0,0,0,0,0,0,0,0,0
535,42.8,57.0,2.8,0.1,3.4,21.7,0.4,7.6,7.3,3.1,...,0,0,0,0,0,0,0,0,0,0

In [55]:
x = newtrain.drop('AQI_Bucket', axis = 1)
y = newtrain['AQI_Bucket']

In [56]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3, random_state= 1)

In [57]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [61]:
from xgboost import XGBRegressor
param = {'objective': 'reg:squarederror', 'eval_metric': 'rmsle', 'n_estimators': 138, 'max_depth': 4, 'learning_rate': 0.01,
    'subsample': 0.8, 'colsample_bytree': 0.8, 'gamma' : 2, 'tree_method': 'gpu_hist'}
xgb = XGBRegressor(**param)
y_pred = xgb.fit(x_train, y_train).predict(x_test)

In [62]:
from sklearn.metrics import mean_squared_log_error

In [63]:
print(np.sqrt(mean_squared_log_error(y_test, y_pred)))

0.6336442787680967

In [65]:
x_train = newtrain.drop('AQI_Bucket', axis = 1)
y_train = newtrain['AQI_Bucket']
x_test = newtest

In [66]:
y_pred = xgb.fit(x_train, y_train).predict(x_test)

In [67]:
solution = pd.DataFrame({'AQI_Bucket': y_pred})
solution.to_csv('Solution.csv', index = False)