In [15]:
import numpy as np
import pandas as pd 
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error

In [16]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
sub=pd.read_csv('submission.csv')

In [17]:
train.isnull().sum()

WeekEnding_Date             0
Kolkata_Average_Price       0
Kolkata_Ref_Price           2
Bangalore_Average_Price     0
Bangalore_Ref_Price         2
Cochin_Average_Price        0
Cochin_Ref_Price            3
Darjeeling_Average_Price    0
Darjeeling_Ref_Price        2
Ernakulam_Average_Price     0
Ernakulam_Ref_Price         1
Siliguri_Average_Price      1
Siliguri_Ref_Price          1
Guwahati_Average_Price      0
Guwahati_Ref_Price          0
Average                     0
dtype: int64

In [18]:
test.isnull().sum()

WeekEnding_Date              0
Kolkata_Average_Price       20
Kolkata_Ref_Price           20
Bangalore_Average_Price     20
Bangalore_Ref_Price         20
Cochin_Average_Price        20
Cochin_Ref_Price            20
Darjeeling_Average_Price    20
Darjeeling_Ref_Price        20
Ernakulam_Average_Price     20
Ernakulam_Ref_Price         20
Siliguri_Average_Price      20
Siliguri_Ref_Price          20
Guwahati_Average_Price      20
Guwahati_Ref_Price          20
Average                     29
dtype: int64

In [19]:
cols=train.columns
dat=pd.concat([train,test])
for col in cols[1:]:
  dat[col]=dat[col].replace('N.S.',np.nan)
  dat[col]=dat[col].replace('NS',np.nan)
  dat[col]=dat[col].replace('No Sale',np.nan)
  dat[col]=dat[col].replace('N.S',np.nan)
  dat[col]=dat[col].replace('N. S.',np.nan)
  dat[col]=dat[col].replace('No sale',np.nan)
  dat[col]=dat[col].replace('N.S.\xa0',np.nan)
  dat[col]=dat[col].replace('NS85.07',np.nan)
  dat[col]=dat[col].astype(np.float64)
  dat[col]=dat[col].interpolate('linear')

In [20]:
dat

,WeekEnding_Date,Kolkata_Average_Price,Kolkata_Ref_Price,Bangalore_Average_Price,Bangalore_Ref_Price,Cochin_Average_Price,Cochin_Ref_Price,Darjeeling_Average_Price,Darjeeling_Ref_Price,Ernakulam_Average_Price,Ernakulam_Ref_Price,Siliguri_Average_Price,Siliguri_Ref_Price,Guwahati_Average_Price,Guwahati_Ref_Price,Average
0,03/01/09,99.010,79.79000,NaN,76.190000,84.020,70.07,81.660,57.83,68.940,51.670,70.74,53.880000,65.550000,46.75,69.700000
1,10/01/09,97.740,78.73000,87.480,73.970000,82.720,68.17,83.310,58.02,67.240,52.230,70.47,53.390000,67.390000,46.84,70.550000
2,17/01/09,95.950,71.01000,87.660,71.010000,80.580,67.16,82.250,57.49,69.640,52.480,71.66,53.180000,69.510000,48.04,69.830000
3,24/01/09,94.140,73.38000,85.690,65.660000,79.925,65.57,80.870,54.59,69.645,53.430,71.12,52.070000,69.140000,48.50,67.846667
4,31/01/09,91.450,70.39000,84.465,64.990000,79.270,62.09,80.760,57.06,69.650,53.380,72.30,52.500000,69.390000,50.33,67.196923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,30/11/19,154.154,159.75625,140.226,145.076667,137.218,146.67,114.578,125.19,77.620,102.900,93.72,110.678571,67.763333,94.29,118.029286
25,07/12/19,153.672,159.12000,138.732,142.873333,136.826,146.67,115.274,125.19,77.620,100.315,92.62,111.214286,66.936667,92.22,118.029286
26,14/12/19,153.190,159.12000,137.238,140.670000,136.434,146.67,115.970,125.19,77.620,97.730,92.62,111.750000,66.110000,92.22,118.029286
27,21/12/19,153.065,159.12000,135.744,140.670000,136.042,146.67,116.220,125.19,77.620,96.610,92.62,105.660000,66.110000,92.22,118.029286
28,28/12/19,152.940,159.12000,134.250,140.670000,135.650,146.67,116.470,125.19,77.620,96.610,92.62,105.660000,66.110000,92.22,118.029286

In [21]:
dat['Bangalore_Average_Price'].mean()

128.66998251748245

In [22]:
dat.isnull().sum()

WeekEnding_Date             0
Kolkata_Average_Price       0
Kolkata_Ref_Price           0
Bangalore_Average_Price     1
Bangalore_Ref_Price         0
Cochin_Average_Price        0
Cochin_Ref_Price            0
Darjeeling_Average_Price    0
Darjeeling_Ref_Price        0
Ernakulam_Average_Price     0
Ernakulam_Ref_Price         0
Siliguri_Average_Price      0
Siliguri_Ref_Price          0
Guwahati_Average_Price      0
Guwahati_Ref_Price          0
Average                     0
dtype: int64

In [24]:
dat.mean(axis = 1)

0      69.700000
1      70.550000
2      69.830000
3      68.771778
4      68.348128
         ...
24    119.191340
25    118.487505
26    118.037419
27    117.439352
28    117.321952
Length: 573, dtype: float64

In [9]:
dat.fillna(value=87.48,inplace=True)

In [10]:
train=dat[:len(train)]
test=dat[len(train):]

In [11]:
X=train.drop(['Average','WeekEnding_Date'],axis=1)
y=train['Average']

In [12]:
X_test=test.drop(['Average','WeekEnding_Date'],axis=1)

In [13]:
X_train,X_val=X.iloc[:450],X.iloc[450:]
y_train,y_val=y[:450],y[450:]

In [9]:
preds=X_test.mean(axis=1)

In [14]:
X_test.mean(axis=1)

0     119.778579
1     120.751764
2     120.589135
3     120.374363
4     119.783995
5     119.414402
6     119.935266
7     120.114854
8     120.114483
9     119.829079
10    119.609699
11    119.573598
12    119.604141
13    119.536180
14    119.778674
15    119.229430
16    119.160733
17    119.245866
18    118.880105
19    118.722202
20    118.341539
21    117.945519
22    118.617373
23    119.293514
24    119.274344
25    118.520235
26    118.038000
27    117.397214
28    117.271429
dtype: float64

In [10]:
sub['Average']=preds
sub.to_csv('pred2_tea.csv',index=False)